.container {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 40px;

    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 15px;

    max-width: 764px;
    width: 100%;

    z-index: 1000;

    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 30%));
}

.info > span {
    font-size: 18px;
    font-weight: 400;
}

.socialContainer {
    display: none;
}

.socialContainer > a > img {
    cursor: pointer;
}

.infoBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
    padding: 4px 32px;

    background: var(--text-blue);
    border: 1px solid transparent;
    border-radius: 200px;

    font-size: 20px;
    font-weight: 400;

    color: var(--text-black);
}

.tgIcon {
    display: none;
}

.title {
    color: var(--text-blue);
    font-weight: 600;
    font-size: 28px;

    margin-right: auto;
}

.title > span {
    color: white;
}

.ellipse {
    position: absolute;
    z-index: 0;
}

.ellipse1 {
    display: none;
}

.ellipse2 {
    right: 17vw;
    top: -25vh;
    animation: ellipse2Anim 75s ease-in-out 0s infinite normal forwards;
}

.ellipse3 {
    z-index: 100;
    bottom: -15vh;
    right: -30vw;
}

.videoContainer {
    position: relative;
}

.video {
    z-index: 1000;
    border-radius: 20px;

    position: relative;
    width: 600px;
}

.mask {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    border-radius: 20px;
    background-color: #3370FF;
    opacity: 30%;
    mix-blend-mode: soft-light;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 0;
        margin-top: 200px;
    }

    .title {
        font-size: 64px;
        font-weight: 700;
    }

    .info {
        gap: 40px;
        text-align: start;
    }

    .socialContainer {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .info > span {
        font-size: 48px;
    }

    .tgIcon {
        display: block;
    }

    .infoBtn {
        gap: 28px;
        padding: 10px 38px;

        font-size: 32px;
        font-weight: 400;
    }

    .ellipse1 {
        display: block;
        left: 0;
        animation: ellipse1Anim 50s ease-in-out 0s infinite normal forwards;
    }

    .ellipse3 {
        right: -2vw;
        bottom: -15vh;
    }
}

@keyframes ellipse1Anim {

    20% {
        transform: translate(-20px, 20px);
    }

    40% {
        transform: translate(-20px, -20px);
    }

    60% {
        transform: translate(20px, 20px);
    }

    80% {
        transform: translate(20px, -20px);
    }
}

@keyframes ellipse2Anim {

    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-15px, -15px);
    }

    20% {
        transform: translate(15px, -15px);
    }

    30% {
        transform: translate(-15px, 15px);
    }

    40% {
        transform: translate(15px, 15px);
    }

    50% {
        transform: translate(-15px, -15px);
    }

    60% {
        transform: translate(15px, -15px);
    }

    70% {
        transform: translate(-15px, 15px);
    }

    80% {
        transform: translate(-15px, -15px);
    }

    90% {
        transform: translate(15px, -15px);
    }

    100% {
        transform: translate(0);
    }
}