.container {
    margin-top: 100px;
}

.listContainer {
    margin-top: 46px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.item {
    font-size: 24px;
    color: var(--text-blue);
    text-transform: uppercase;
    font-weight: 600;
}

@media (min-width: 768px) {
    .list {
        gap: 92px;
    }

    .item {
        font-size: 36px;
    }
}